@font-face {
  font-family: tripSans;
  src: url("../public/Assets/Fonts/TripSans-Regular.ttf");
}

body {
  margin: 0;
  font-family: tripSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}